.containerDetail {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2.85rem;
}
.containerDetail .iconArrow{
 color:var(--gray-icon);
 font-size: 16px;
 margin-left: 1rem;
}
.cardDetail {
  width: 85%;
  max-width: 1300px;
  overflow: hidden;
  border-radius: 1.25rem;
  margin-bottom: 6px;
  padding-bottom: 20px;
}

.cardDetail .ant-card-body {
  padding: 0px;
}
/* header------------------------------------------------ */
.headerDetail {
  height: 6rem;
  width: 100%;
  padding: 0px 30px;
  background-color: var(--blue-macropay);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containerButtonTitle{
  display: flex;
  align-items: center;
  height: 100%;
}
.buttonCloseDetail {
  background-color: var(--white-macropay);
  color: var(--blue-macropay);
}

.containerDetail .title {
  display: flex;
  flex-direction: column;
}
.containerDetail .title .ant-typography {
  color: var(--yellow-macropay);
  margin-left: 20px;
  line-height: 14px;
}
.stepDetailContainer {
  width: 40%;
  display: flex;
  align-items: center;
  height: 100%;
}
.stepDetailContainer .ant-steps-icon{
  color: var(--white-macropay) !important;
}
.stepDetailContainer
.ant-steps-item-container
.ant-steps-item-content
.ant-steps-item-title::after {
background-color: var(--white-macropay) !important;
}
.stepDetailContainer .ant-steps-item-icon{
  border-color: var(--white-macropay) !important;
}

.stepDetailContainer .ant-steps-item-active .ant-steps-item-icon{
 background-color: var(--white-macropay) !important;
 color: var(--blue-macropay) !important;
}

.stepDetailContainer .ant-steps-item-active .ant-steps-icon{
  color: var(--blue-macropay) !important;
 }
 .stepDetailContainer .ant-steps-icon .anticon{
  font-size: 2rem !important;
 }
 /* modal------------------------------------------------------- */
 .modalDetail .ant-modal-content{
  padding: 0;
  overflow: hidden;
  border-radius: 18px !important;
 }
 .modalDetail .ant-modal-content img{
  height: auto !important;
  width: 651px !important;
 }
 .modalDetail .ant-modal-content .ant-modal-close-icon {
   color: var(--blue-macropay);
   font-size: 2rem;
 }
 .titleModal{
   position: absolute;
   top: 2.5rem;
   left: 4.3rem;
   line-height: 1rem;
 }
 .modalDetail .titleModal h3{
  line-height: 8px;
  color: var(--blue-macropay);
 }
 .modalDetail .titleModal span {
  font-weight: bold;
 }
 .modalDetail .rowContainer{
  width: 80%;
  margin: 0 auto;
  padding: 2rem 0px;
 }
 .modalDetail .rowContainer h5 {
  line-height: 0px;
 }
/* section------------------------------------------------------ */
.containerDetail .column {
  padding: 1rem;
}
.containerDetail .button{
  width: 100%;
}

.rowBodyCard .ant-form-item-label label{
  color: var(--blue-macropay);
}
.rowBodyCard .ant-typography{
  color:var(--blue-macropay);
}
.rowBodyCard .ant-divider{
  min-width: 40px !important;
  max-width: 40px;
  border: 5px solid #FFDD00;
  border-radius:5px;
  margin: 5px 0px !important;
}