.header {
  background-color:var(--white-macropay);
  padding: 1rem;
  box-shadow: 0px 10px 30px #00000029;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: unset;
  line-height: unset;
}
.icon {
  font-size: 30px;
  color:var(--gray-icon);
}