*{margin: 0; padding: 0; box-sizing: border-box;} para resetear los valores que trae el body
*{box-sizing: border-box;}

html { font-size: 14px; }

.main{
  height: calc(100vh - 111px);
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #EDF2F7;
}
.footer{
  background-color: #EDF2F7; 
  padding: 0 !important;
  text-align: center;
  padding-bottom: 30px !important;
  color: #C0C0C0;
}